extends ../layout

block content
    .container
        h2 Because you're a Facebook user, you have to choose a username !
        .row
            .col-md-4
            .col-md-4
                form.form-horizontal(action="/auth/addUsername/#{user.facebook.id}", method="POST")
                    .form-group
                        div
                            input#message(name="content", type="text", placeholder="Enter a username over here!" style="width:100%")
                        div
                            input.btn.btn-default(type="submit", value="Create Username" style="width:100%")
            .col-md-4  